@model ProjectAspoeck.Models.AdminManageUsersModel
@{
    ViewData["Title"] = "Admin User verwalten";
}

<script src="js/Admin/ManageUsers.js" type="module"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Jausen Bestellung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    
    
    <style>
      .header-image {
        padding-left: 50px;
            height: 100%;
      }
      
      img {
          max-width: 100%;
          max-height: 100%;
          display: block;
      }
      
      .header-text {
        padding-right: 50px;
        text-align: center;
      }
      
      .header-right-text,
      .btn {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .table td {
        font-size: 1.2rem;
      }
      .table th {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .text-center-last-col {
        display: flex;
        justify-content: center;
      }
      
      .filter {
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid black;
          padding: 10px;
      }
    </style>
</head>
<body>
<header class="bg-light py-3" style="height: 150px">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-3 header-image">
                <img src="~/Images/aspoeck-logo-sm.png"
                     class="img-fluid align-middle"
                     alt="Logo"/>
            </div>
            <div class="col-6 header-text">
                <h1 class="mb-0">Jausen Bestellung</h1>
            </div>
            <div class="col-3 text-center bg-warning py-2">
                <p class="mb-0 align-middle header-right-text">ADMINISTRATOR</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="filter">
        <div>
            <label for="von-datum">Von Erstellungsdatum:</label>
            <input
                type="date"
                id="von-datum"
                name="von-datum"
                style="margin-left: 1px"/>
            <input
                type="text"
                id="searchInput"
                placeholder="Suche ..."
                style="margin-left: 8px"/>
        </div>
        <div>
            <label for="bis-datum">Bis Erstellungsdatum:</label>
            <input
                type="date"
                id="bis-datum"
                name="bis-datum"
                style="margin-left: 8px"/>
            <label for="bis-datum" style="margin-left: 8px">Aktiv:</label>
            <input type="checkbox"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-height">
            <div class="table-scroll">
                <table id="userTable" class="table table-bordered table-striped table-scroll">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Erstellt am</th>
                        <th>Name</th>
                        <th>Chip</th>
                        <th>Status</th>
                        <th>Passwort</th>
                        <th>Löschen</th>
                    </tr>
                    </thead>
                    <tbody id="bodyTable">
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                @user.UserId
                            </td>
                            <td>@user.CreatedDate.ToString("d")</td>
                            <td>
                                Vor- und Nachname: <input type="text" name="firstname" value="@user.FirstName"/>
                                <input
                                    type="text"
                                    name="lastname"
                                    value="@user.LastName"/><br/>
                                <div style="margin-top: 5px">
                                    E-Mail: <input type="email" name="email" value="@user.Email" style="width: 580px"/>
                                    Username: <input type="text" name="username" value="@user.UserName"/>
                                </div>
                            </td>
                            <td>
                                <input type="text" name="chip" value="@user.ChipNumber"/>
                            </td>
                            <td>
                                @if (user.Active)
                                {
                                    <input
                                        type="checkbox"
                                        name="status" 
                                        checked/>
                                }
                                else
                                {
                                    <input type="checkbox" name="status"/>
                                }
                                Aktiv
                            </td>
                            <td>
                                <span class="text-center-last-col">
                                    <button type="button" class="btn btn-secondary" onclick="showChangePasswordModal(@user.UserId)">
                                        <i class="fa fa-lock"></i>
                                    </button>
                                </span>
                            </td>
                            <td>
                                <span class="text-center-last-col">
                                    <button type="button" class="btn btn-danger" onclick="deleteUser('@user.UserId')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Admin_Home_Page", "Admin",  FormMethod.Post))
            {
                <button href="#" class="btn btn-warning float-left">Zurück</button>
            }
            <button id="newUser" class="btn btn-warning float-right">Neuer Benutzer</button>
            <button id="save" class="btn btn-warning float-right">Speichern</button>
        </div>
    </div>
</div>


<div id="changePasswordModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Neues Passwort setzen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="new-password">Neues Passwort:</label>
            <input type="password" class="form-control" id="new-password">
          </div>
          <div class="form-group">
            <label for="confirm-password">Neues Passwort wiederholen:</label>
            <input type="password" class="form-control" id="confirm-password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="abort">Abbrechen</button>
        <button type="button" class="btn btn-primary" id="save-password">Speichern</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>

@section scripts {
    <script>
    function deleteUser(userId) {
        if (confirm('Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?')) {
            $.ajax({
                url: '@Url.Action("DeleteUser", "Admin")',
                type: 'POST',
                data: { userId: userId },
                success: function(result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ein Fehler ist aufgetreten: ' + errorThrown);
                }
            });
        }
    }
    
    let userId;
    
    function showChangePasswordModal(id) {
      userId = id;
      $('#changePasswordModal').modal('show');
    }
    
    $('#abort').on('click', function() {
        $('#changePasswordModal').modal('hide');
    });
    
    $('#close').on('click', function() {
            $('#changePasswordModal').modal('hide');
        });
    
    $('#save-password').on('click', function() {
      const newPassword = $('#new-password').val();
      const confirmPassword = $('#confirm-password').val();
      if (newPassword !== confirmPassword) {
        alert('Die beiden Passwörter stimmen nicht überein.');
        return;
      }
      
      $.ajax({
        url: '@Url.Action("ChangePassword", "Admin")',
        type: 'POST',
        data: {
          userId: userId,
          newPassword: newPassword
        },
        success: function() {
            alert('Password successfully changed.');
            $('#changePasswordModal').modal('hide');
        },
        error: function(xhr, textStatus, errorThrown) {
            alert('Ein Fehler ist aufgetreten: ' + errorThrown);
        }
        });
      });
    </script>
}