@using ProjectAspoeck.Models

@model ProjectAspoeck.Models.Admin_Home_PageModel
@{
    ViewData["Title"] = "Admin-Startseite";
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jausen Bestellung</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <style>
        /* Additional CSS styling */
        .header-image {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .header-text {
            text-align: center;
        }

        .header-right-text,
        .btn {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .table td {
            font-size: 1.2rem;
        }

        .table th {
            font-weight: bold;
            font-size: 1.2rem;
        }

        .col-md-3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        /*.my-custom-scrollbar {
                position: relative;
                height: 490px;
                overflow: auto;
              }
              .table-wrapper-scroll-y {
                display: block;
              }*/
    </style>
</head>
<body>
    <!-- Header -->
    <header class="bg-light py-3" style="height: 150px">
        <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
                <div class="col-3 header-image">
                    <img src="path/to/image.jpg"
                         class="img-fluid align-middle"
                         alt="Logo" />
                </div>
                <div class="col-6 header-text">
                    <h1 class="mb-0">Jausen Bestellung</h1>
                </div>
                <div class="col-3 text-center bg-warning py-2">
                    <p class="mb-0 align-middle header-right-text">ADMINISTRATOR</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Main content -->
    <main class="py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-warning btn-block mb-3">
                        Jausen Liste bearbeiten
                    </button>
                    <button type="button" class="btn btn-warning btn-block">
                        User verwalten
                    </button>
                </div>
                <div class="col-md-9 table-height">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped table-scroll">
                            <thead>
                                <tr>
                                    <th>Nr</th>
                                    <th>Datum</th>
                                    <th>Inhalt</th>
                                    <th>Status</th>
                                    <th>Kosten</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.Orders)
                                {
                                    <tr>
                                        <td>
                                            @if (order.OrderNumber != -1)
                                                @order.OrderNumber

                                            </td>
                                            <td>
                                                @order.Date
                                            </td>
                                            <td>
                                                @if (order.Description !="")
                                            {
                                                @order.Description                                                
                                            }
                                        </td>
                                        <td>
                                            @(order.State)
                                        </td>
                                        <td>
                                            @order.Price.ToString("N2") €
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    @using (Html.BeginForm("Admin_All_Orders", "Home", new { sessionKey = Model.SessionString }, FormMethod.Post))
                      {                
                        <button type="submit" class="btn btn-warning btn-block" >Alle Bestellungen ansehen</button>
                      }
                </div>
            </div>
        </div>
    </main>
</body>
</html>
