@model ProjectAspoeck.Models.AdminManageUsersModel
@{
    ViewData["Title"] = "Admin User verwalten";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Jausen Bestellung</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>


    <style>
      .header-image {
        padding-left: 50px;
            height: 100%;
      }
      
      img {
          max-width: 100%;
          max-height: 100%;
          display: block;
      }
      
      .header-text {
        padding-right: 50px;
        text-align: center;
      }
      
      .header-right-text,
      .btn {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .table td {
        font-size: 1.2rem;
      }
      .table th {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .text-center-last-col {
        display: flex;
        justify-content: center;
      }
      
      .filter {
          margin-top: 10px;
          margin-bottom: 10px;
          border: 1px solid black;
          padding: 10px;
      }
      
      .my-custom-scrollbar {
          position: relative;
          height: 100%;
          overflow: auto;
      }
      .table-wrapper-scroll-y {
        display: block;
        overflow: auto;
        max-height: calc(100vh - 330px);
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
      }
    
    .left-div h4 {
        margin-right: 8px;
    }
    
    .checkbox-input label {
        margin-right: 8px;
    }
    
    .right-div button {
        margin-left: 8px;
    }
    
    .sticky-top {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
    }
    </style>
</head>
<body>
<header class="bg-light py-3" style="height: 150px">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-3 header-image">
                <img src="~/Images/aspoeck-logo-sm.png"
                     class="img-fluid align-middle"
                     alt="Logo"/>
            </div>
            <div class="col-6 header-text">
                <h1 class="mb-0">Jausen Bestellung</h1>
            </div>
            <div class="col-3 text-center bg-warning py-2">
                <p class="mb-0 align-middle header-right-text">ADMINISTRATOR</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="filter">
        <div>
            <input
                type="text"
                id="searchInput"
                placeholder="Suche ..."
                style="margin-left: 8px; width: 400px"/>
        
            <button id="newUser" class="btn btn-warning float-right" onclick="showUserModal()">
                <i class="fa fa-user-plus"></i>
                Neuer Benutzer
            </button>
        </div>
        <div>
            <label for="activeOnlyCheckBox" style="margin-left: 8px">Aktiv:</label>
            <input type="checkbox" id="activeOnlyCheckBox" checked="checked" onclick="filterTable()"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 table-height">
            <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
            <table id="userTable" class="table table-bordered table-striped table-scroll">
                <thead class="sticky-top">
                <tr>
                    <th>Nr</th>
                    <th>Erstellt am</th>
                    <th>Name</th>
                    <th>Chip</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="bodyTable">
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            @(Model.Users.IndexOf(user) + 1)
                        </td>
                        <td>@user.CreatedDate.ToString("d")</td>
                        <td>
                            Username: <input type="text" name="username" value="@user.UserName" disabled="disabled" style="width: 315px"/>
                            <div style="margin-top: 5px">
                                Vor- und Nachname: <input type="text" name="firstname" value="@user.FirstName" disabled="disabled"/>
                                <input
                                    type="text"
                                    name="lastname"
                                    value="@user.LastName"
                                    disabled="disabled"/>
                            </div>
                            <div style="margin-top: 5px">
                                E-Mail: <input type="email" name="email" value="@user.Email" style="width: 580px" disabled="disabled"/>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="chip" value="@user.ChipNumber" disabled="disabled"/>
                        </td>
                        <td>
                            <input id="cbActive" type="checkbox" name="status" @(user.Active ? "checked" : "") onchange="activeChanged(@user.UserId, checked)"/> Aktiv
                        </td>
                        <td>
                            <span class="text-center-last-col">
                                <button type="button" class="btn btn-primary" onclick="showUserModal(true, @user.UserId)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </span>
                        </td>
                        <td>
                            <span class="text-center-last-col">
                                <button type="button" class="btn btn-secondary" onclick="showChangePasswordModal(@user.UserId)">
                                    <i class="fa fa-lock"></i>
                                </button>
                            </span>
                        </td>
                        <td>
                            <span class="text-center-last-col">
                                <button type="button" class="btn btn-danger" onclick="showDeleteUserModal('@user.UserId')">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Admin_Home_Page", "Admin", FormMethod.Post))
        {
            <button href="#" class="btn btn-warning float-left">Zurück</button>
        }
    </div>
</div>
</div>

@* New password window *@
<div id="changePasswordModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neues Passwort setzen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="new-password">Neues Passwort:</label>
                        <input type="password" class="form-control" id="new-password">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Neues Passwort wiederholen:</label>
                        <input type="password" class="form-control" id="confirm-password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="abort">Abbrechen</button>
                <button type="button" class="btn btn-success" id="save-password">Speichern</button>
            </div>
        </div>
    </div>
</div>

@* New user window *@
<div id="newUserModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalTitle">Neuen Benutzer anlegen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeUser">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="firstname">Vorname:<span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="firstname">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Nachname:<span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="lastname">
                    </div>
                    <div class="form-group">
                        <label for="username">Username:<span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail:</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="chipNr">Chip Nr:<span style="color: red">*</span></label>
                        <input type="text" class="form-control" id="chipNr">
                    </div>
                    <div id="passwordDiv" class="form-group">
                        <label for="password">Passwort:<span style="color: red">*</span></label>
                        <input type="password" class="form-control" id="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="abortUser">Abbrechen</button>
                <button type="button" class="btn btn-success" id="save-newUser">Speichern</button>
            </div>
        </div>
    </div>
</div>

@* Delete user window *@
<div id="deleteUserModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sind Sie sicher, dass Sie diesen Benutzer löschen möchten?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeDeleteUser">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="abortDeleteUser">Nein</button>
                <button type="button" class="btn btn-success" id="confirm-deleteUser" onclick="deleteUser()">Ja</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

@section scripts {
    <script>        
        //filter
        const searchInput = document.getElementById("searchInput");
        searchInput.addEventListener("keyup", filterTable);

        function filterTable() {
            const searchValue = document.getElementById("searchInput").value.toLowerCase();
            const showActiveOnly = document.getElementById("activeOnlyCheckBox").checked;
            const tableRows = document.getElementById("userTable").getElementsByTagName("tbody")[0].getElementsByTagName("tr");
            for (let i = 0; i < tableRows.length; i++) {
                const rowData = tableRows[i].getElementsByTagName("td")[2].innerHTML.toLowerCase().trim();
                const activeStatus = tableRows[i].getElementsByTagName("td")[4].getElementsByTagName("input")[0].checked;
                if (rowData.indexOf(searchValue) > -1 && showActiveOnly === activeStatus) {
                    tableRows[i].style.display = "";
                } else {
                    tableRows[i].style.display = "none";
                }
            }
        }
        filterTable();

        //#region Set Active
        function activeChanged(id, active) {
            $.ajax({
                url: '@Url.Action("ChangeActive", "ManageUsers")',
                type: 'POST',
                data: { 
                    userId: id,
                    isActive: active
                 },
                success: function(result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ein Fehler ist aufgetreten: ' + errorThrown);
                }
            });
        }
        //#endregion
     
        let userId;
        //#region Delete User
        function deleteUser() {
            $.ajax({
                url: '@Url.Action("DeleteUser", "ManageUsers")',
                type: 'POST',
                data: { userId: userId },
                success: function(result) {
                    if (result.success) {
                        location.reload();
                    } else {
                        alert(result.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ein Fehler ist aufgetreten: ' + errorThrown);
                }
            });
        }
        
        function showDeleteUserModal(id) {
            userId = id;
            $('#deleteUserModal').modal('show');
        }
        
        $('#abortDeleteUser').on('click', function() {
            $('#deleteUserModal').modal('hide');
        });

        $('#closeDeleteUser').on('click', function() {
            $('#deleteUserModal').modal('hide');
        });
        //#endregion
        
        //#region Change Password
        function showChangePasswordModal(id) {
            userId = id;
            $('#changePasswordModal').modal('show');
        }

        $('#abort').on('click', function() {
            $('#changePasswordModal').modal('hide');
        });

        $('#close').on('click', function() {
            $('#changePasswordModal').modal('hide');
        });

        $('#save-password').on('click', function() {
            const newPassword = $('#new-password').val();
            const confirmPassword = $('#confirm-password').val();
            if (newPassword !== confirmPassword) {
                alert('Die beiden Passwörter stimmen nicht überein.');
                return;
            }

            $.ajax({
                url: '@Url.Action("ChangePassword", "ManageUsers")',
                type: 'POST',
                data: {
                  userId: userId,
                  newPassword: newPassword
                },
                success: function(result) {
                    if (result.success) {
                        location.reload();
                        $('#changePasswordModal').modal('hide');
                    } else {
                        alert(result.message);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    alert('Ein Fehler ist aufgetreten: ' + errorThrown);
                }
            });
        });
        //#endregion
        
        //#region New/Update User
        let userEdit = false;
        
        function showUserModal(editMode = false, id = -1) {
            console.log('************ showUserModal ************f');
            console.log('id: ' + id);
            console.log('editMode: ' + editMode);
            userId = id;
            userEdit = editMode;
            
            const title = editMode ? 'Benutzer bearbeiten' : 'Neuen Benutzer anlegen';
            const saveButtonLabel = editMode ? 'Speichern' : 'Hinzufügen';
        
            $('#newUserModalTitle').html(title);
            $('#save-newUser').html(saveButtonLabel);
            
            if (editMode) {
                $('#passwordDiv').attr('hidden', 'hidden');
            } else {
                $('#passwordDiv').removeAttr('hidden');
            }
            
            $('#firstname').val('');
            $('#lastname').val('');
            $('#username').val('');
            $('#chipNr').val('');
            $('#email').val('');
            
            if (id !== -1) {
            
                $.ajax({
                    url: '@Url.Action("GetUser", "ManageUsers")',
                    type: 'POST',
                    data: {
                        userId: id
                    },
                    success: function(response) {
                        if (response.success) {
                            $('#firstname').val(response.userFirstname || '');
                            $('#lastname').val(response.userLastname || '');
                            $('#username').val(response.userUsername || '');
                            $('#chipNr').val(response.userChipNr || '');
                            $('#email').val(response.userEmail || '');
                            console.log('success');
                        } else {
                            console.log('error');
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr);
                        alert('Es ist ein Fehler aufgetreten: ' + errorThrown);
                    }
                });
            }
            $('#newUserModal').modal('show');
        }

        $('#abortUser').on('click', function() {
            $('#newUserModal').modal('hide');
        });

        $('#closeUser').on('click', function() {
            $('#newUserModal').modal('hide');
        });
        
        $('#save-newUser').on('click', function() {
            const firstname = $('#firstname').val();
            const lastname = $('#lastname').val();
            const username = $('#username').val();
            const email = $('#email').val();
            const chipNr = $('#chipNr').val();

            if (firstname === '' || lastname === '' || username === '' || chipNr === '' ) {
                alert('Bitte füllen Sie alle Pflichtfelder aus.');
                return;
            }
            
            if (userEdit) {
                $.ajax({
                    url: '@Url.Action("UpdateUser", "ManageUsers")',
                    type: 'POST',
                    data: {
                        userId: userId,
                        firstname: firstname,
                        lastname: lastname,
                        username: username,
                        email: email,
                        chipNr: chipNr,
                    },
                    success: function(result) {
                        if (result.success) {
                            location.reload();
                            $('#newUserModal').modal('hide');
                        } else {
                            alert(result.message);
                        } 
                    },
                    error: function(response) {
                        alert('Ein Fehler ist aufgetreten: ' + response.message);
                    }
                });
            }
            else 
            {
                const password = $('#password').val();
                if (password === '' ) {
                    alert('Bitte füllen Sie alle Pflichtfelder aus.');
                    return;
                }
                
                $.ajax({
                    url: '@Url.Action("AddUser", "ManageUsers")',
                    type: 'POST',
                    data: {
                        firstname: firstname,
                        lastname: lastname,
                        username: username,
                        email: email,
                        chipNr: chipNr,
                        password: password
                    },
                    success: function(result) {
                        if (result.success) {
                            location.reload();
                            $('#newUserModal').modal('hide');
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function(response) {
                        alert('Ein Fehler ist aufgetreten: ' + response.message);
                    }
                });
            }
        });
        //#endregion
    
    
    </script>
}