@using ProjectAspoeck.Models

@model ProjectAspoeck.Models.Admin_ConfirmOrdersModel
@{
  ViewData["Title"] = "Confirm All Orders";
}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Alle letzten Bestellungen</title>
  <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
      <script src="https://kit.fontawesome.com/afdaaa5e13.js" crossorigin="anonymous"></script>
  <style>
        header {
            height: 150px;
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
        }

        .header-image {
            padding-left: 50px;
            height: 100%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        .header-button {
            height: 100px
        }

        .header-text {
            text-align: center;
        }

        .btn {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .table th,
        .table td {
            font-size: 1.2rem;
        }

        .headline {
          padding-top: 10px;
        }

        body {
          overflow: hidden;
        }
        
        .text-center-last-col {
            display: flex;
            justify-content: center;
        }
        
        .sticky-top {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #fff;
          }
          
        .my-custom-scrollbar {
            position: relative;
            height: 100%;
            overflow: auto;
        }
  
          .table-wrapper-scroll-y {
            display: block;
            overflow: auto;
            max-height: calc(100vh - 350px);
          }
    </style>
</head>
<body>
<header class="bg-light py-3" style="height: 150px">
    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-3 header-image">
          <img src="~/Images/aspoeck-logo-sm.png"
               class="img-fluid align-middle"
               alt="Logo"/>
        </div>
        <div class="col-6 header-text">
          <h1 class="mb-0">Jausen Bestellung</h1>
        </div>
        <div class="col-3 text-center py-2 ">
          <span class="header-button">
            @*@using (Html.BeginForm("Settings", "Settings", FormMethod.Post))
                        {
                          <button type="submit" class="btn btn-lg">
                            <i class="fa-solid fa-gear"></i>
                          </button>
                        }*@  
            
          </span>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col headline">
        <h4>Alle letzten Bestellungen</h4>
      </div>
    </div>
    <div class="row mt-3 flex-fill">
      <div class="col">
        <div class="form-group d-flex align-items-center">
          <label for="filter" class="mr-3">Filter:</label>
          <select class="form-control" id="filter" style="width: 150px;">
            <option value="all">Alle</option>
            <option value="not_collected">nicht abgeholt</option>
            <option value="not_payed">nicht bezahlt</option>
            <option value="payed">bezahlt</option>
            <option value="incomplete">unvollständig</option>
          </select>
        </div> @*<table class="table table-bordered table-striped" id="table">
                             <thead class="sticky-top">
                             <tr>
                               <th scope="col">Nr</th>
                               <th scope="col">Datum</th>
                               <th scope="col" class="col-5">Inhalt</th>
                               <th scope="col">Kosten</th>
                               <th scope="col">Status</th>
                               <th scope="col" style="align-items:center"></th>
                               
                             </tr>
                             </thead>
                             <tbody>
                            @foreach (var order in Model.Orders)
                             {
                               <tr>
                                 <td>
                                   @if (order.OrderNumber != -1)
                                   {
                                     @order.OrderNumber
                                   }
                                 </td>
                                 <td>
                                   @order.OrderDate
                                 </td>
                                 <td>
                                   @order.OrderContent
                                 </td>
                                 <td>
                                   @if (order.OrderAmount != -1)
                                   {
                                     @order.OrderAmount.ToString("N2")
                                     @Html.Raw("€")
                                   }
                                 </td>
                                 <td>
                                   @(order.OrderState)
                                 </td>
                                 <td >
                                   <span class="text-center-last-col">
                                   @if (!order.OrderState.Equals(""))
                                   {
                                     <button type="button" onclick="placeOrder(@order.OrderId)" name="buyAgain" class="btn btn-primary buyAgain">
                                       <i class="fa-solid fa-repeat"></i>
                                     </button>
                                   }
                                   </span>
                                 </td>
                               </tr>
                             }
                             </tbody>
                           </table>*@
        <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
          
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6 text-left">
        @using (Html.BeginForm("Home_Page", "Home",  FormMethod.Post))
        {
          <button href="#" class="btn btn-warning">Zurück</button>
        }
      </div>
      <div class="col-6 text-right">
       
      </div>
    </div>
  </div>
</body>
</html>

@section scripts{
  <script>
        $(document).ready(function () {
            $("#filter").change(function () {
                var selectedValue = $(this).val();
                var selectedText = $(this).find("option:selected").text();
                if (selectedValue == "all") {
                    $("#table tbody tr").show();
                } else {
                    $("#table tbody tr").hide();
                    $('#table').removeClass('table-striped');
                    $("#table tbody tr td:nth-child(5)").filter(function () {
                        return $(this).text().trim() === selectedText.trim();
                    }).parent().show();
                    $('#table').addClass('table-striped');
                }
            });
        });

        function placeOrder(orderId) {
          console.log(`---------------------------Place order ev.target ${orderId}`);          
          //const item = this.parentElement.previousElementSibling.previousElementSibling.previousElementSibling.textContent;
              //console.log(orderid);     
              $.ajax({
                  url: "@Url.Action("ReBuyOrder", "ShoppingBasket")",
                  method: "POST",
                  data: {
                      orderId: orderId
                  },
                  success: function (response) {
                      window.location.href = '@Url.Action("Shopping_Basket", "ShoppingBasket")';
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                      //console.log(textStatus, errorThrown);
                  }
              });
        }
        </script>
}