@using ProjectAspoeck.Models

@model Admin_Edit_ListModel
@{
    ViewData["Title"] = "Startseite";
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jausen Bestellung</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Custom CSS -->
 <style>
         header {
             height: 150px;
             display: flex;
             align-items: center;
             background-color: #f2f2f2;
         }
         
         .header-image {
             padding-left: 50px;
             height: 100%;            
         }
         
         img {
             max-width: 100%;
             max-height: 100%;
             display: block;
         }
 
         .header-text {
             text-align: center;
         }
 
         .header-right-text,
         .btn {
             font-weight: bold;
             font-size: 1.5rem;
         }
 
         .table td {
             font-size: 1.2rem;
         }
 
         .table th {
             font-weight: bold;
             font-size: 1.2rem;
         }
 
         .col-md-3 {
             display: flex;
             flex-direction: column;
             justify-content: center;
         }
     </style>
</head>

<body>
   <header class="bg-light py-3" style="height: 150px">
     <div class="container-fluid h-100">
       <div class="row align-items-center h-100">
         <div class="col-3 header-image">
           <img src="~/Images/aspoeck-logo-sm.png"
                          class="img-fluid align-middle"
                          alt="Logo"/>
         </div>
         <div class="col-6 header-text">
           <h1 class="mb-0">Jausen Bestellung</h1>
         </div>
         <div class="col-3 text-center bg-warning py-2">
           <p class="mb-0 align-middle header-right-text">ADMINISTRATOR</p>
         </div>
       </div>
     </div>
   </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Change Item</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-height">
                <div class="table-scroll">
                    <table id="itemTable" class="table table-bordered table-striped table-scroll">
                        <thead>
                            <tr>
                                <th>Beschreibung</th>
                                <th>Preis</th>
                                <th>Aktionen</th>
                            </tr>
                        </thead>
                        <tbody>
                        @*<tr>
                                <td>@Model.Items.</td>
                                <td>@Model.Item.Name</td>
                                <td>@Model.Item.Description</td>
                                <td>@Model.Item.Price</td>
                                <td>
                                   @* <a href="@Url.Action("Edit", "Item", new { id = Model.Item.Id })" class="btn btn-primary">Edit</a>
                                    <a href="@Url.Action("Delete", "Item", new { id = Model.Item.Id })" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>*@
                        
                        </tbody>
                    </table>
                    <div class="text-center">
                        @*<a href="@Url.Action("Create", "Item")" class="btn btn-success">Add New Item</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
