@using ProjectAspoeck.Models

@model ProjectAspoeck.Models.Order_DetailModel
@{
    ViewData["Title"] = "Bestellung - Detailansicht";
}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bestellung Detailansicht</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        header {
            height: 150px;
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
        }
        
        .header-image {
            padding-left: 50px;
            height: 100%;
        }
        
        .text-center-last-col {
            display: flex;
            justify-content: center;
        }
        
        .header-text {
            text-align: center;
        }
        
        .main {
            margin-top: 30px;
        }
        
        .main .date {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        
        .main .headingDateStatus {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .table th,
            .table td {
                font-size: 1.2rem;
            }
        
        .right-align {
          float: right;
          margin-right: 5px;
        }
        .fontText {
            font-size: 1.6rem;
        
        }
        .main .status {
            background-color: red;
            color: white;
            padding: 5px 10px;
            display: inline-block;
            font-weight: bold;
            font-size: 1.5rem;
        }
        
        .btn {
            font-weight: bold;
            font-size: 1.5rem;
        }
        
        .table th,
        .table td {
            font-size: 1.6rem;
        }
        
        .left-row {
            padding-left: 50px;
        }
        
        .right-row {
            padding-right: 50px;
        }
        
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }
       .img-container {
            width: 200px;
            height: 130px;
            overflow: hidden;
          }
          
         body{
         font-size: 1.6rem;
         }
      </style>
</head>
<body>
    <header class="bg-light py-3" style="height: 150px">
        <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
                <div class="col-3 header-image">
                    <img src="~/Images/aspoeck-logo-sm.png"
                         class="img-fluid align-middle"
                         alt="Logo" />
                </div>
                <div class="col-6 header-text">
                    <h1 class="mb-0">Jausen Bestellung</h1>
                </div>
                <div class="col-3 text-center py-2 ">
                    <span class="header-button">
                       @*@using (Html.BeginForm("Settings", "Settings", FormMethod.Post))
                                                             {
                                                     <button type="submit" class="btn btn-lg">
                                                     <i class="fa fa-gear"></i>
                                                 </button>
                                                 }*@ 
                    </span>
                </div>
            </div>
        </div>
      </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p class="fontText">Bestellung von <strong>@Model.UserName</strong></p>
                <p class="fontText"><strong>@Model.OrderDate.Date.ToString("D") </strong></p>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bild</th>
                                <th>Bezeichnung</th>
                                <th>Preis</th>
                                <th>Stück</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Order)
                             {
                           <tr>
                               <td>
                                   <div class="img-container">
                                       @if (item.ImageUrl != null && item.ImageUrl.Length > 0)
                                       {
                                           <img src="@($"data:image;base64,{Convert.ToBase64String(item.ImageUrl)}")" alt="@item.Name"/>
                                       }
                                       else
                                       {
                                           <span>Kein Bild verfügbar</span>
                                       }
                                   </div>
                               </td>
                               <td class="fontText itemName">@item.Name</td>
                               <td class="price">
                                   @item.Price.ToString("N2")
                                   @Html.Raw(" €")
                               </td>
                               <td class="stueck">@item.Units</td>
                             
                           </tr>
                           }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p class="fontText">Anzahl Artikel: <strong>@Model.TotalItemCount</strong></p>
                <p class="fontText">Preis insgesamt: <strong>@Model.TotalPrice.ToString("0.00") €</strong></p>
                <p class="fontText">Status: <strong>nicht bezahlt</strong></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="right-align">
                @*@using (Html.BeginForm("All_Orders", "AllOrders", FormMethod.Post))
                {
                  <button href="#" class="btn btn-warning">Zurück</button>
                }*@
                
                @using (Html.BeginForm("All_Orders", "AllOrders", FormMethod.Post))
                                 {
                                   <button href="#" class="btn btn-danger right-align">Bestellung ist nicht korrekt</button>
                                 }
                
                @using (Html.BeginForm("ConfirmOrder", "ConfirmOrder", FormMethod.Post))
                 {
                   <button href="#" class="btn btn-success right-align">Bestellung Bestätigen</button>
                 }
            </div >
            
        </div>
        
    </div>
</body>
</html>
