@model ProjectAspoeck.Models.Shopping_BasketModel
@{
    ViewData["Title"] = "Warenkorb";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Warenkorb</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/afdaaa5e13.js" crossorigin="anonymous"></script>
    <style>
        header {
            height: 150px;
            display: flex;
            align-items: center;
            background-color: #f2f2f2;
        }

        .header-image {
            padding-left: 50px;
            height: 100%;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
        }

        .header-text {
            text-align: center;
        }

        .btn {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .table th,
        .table td {
            font-size: 1.2rem;
        }

        .headline {
            padding-top: 10px;
        }
        
        .img-container {
          width: 200px;
          height: 130px;
          overflow: hidden;
        }
        
        .img-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        .my-custom-scrollbar {
            position: relative;
            height: 100%;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
            overflow: auto;
            max-height: calc(100vh - 300px);
        }
        
        .table-wrapper {
                position: relative;
            }
            .table-wrapper tfoot {
                position: sticky;
                bottom: 0;
                background-color: white;
                z-index: 1;
            }
    </style>
</head>
<body>
<header class="bg-light py-3" style="height: 150px">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-3 header-image">
                <img src="~/Images/aspoeck-logo-sm.png"
                     class="img-fluid align-middle"
                     alt="Logo"/>
            </div>
            <div class="col-6 header-text">
                <h1 class="mb-0">Jausen Bestellung</h1>
            </div>
            <div class="col-3 text-center py-2 ">
                <span class="header-button">
                    @using (Html.BeginForm("Home_Page", "Home", FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-lg">
                            <i class="fa-solid fa-home"></i>
                        </button>
                    }
                </span>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col headline">
            <h4>Warenkorb</h4>
        </div>
    </div>
    <div class="row mt-3 ">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table id="productTable" class="table table-bordered table-striped">
                <thead class="thead-light sticky-top">
                <tr>
                    <th scope="col">Bild</th>
                    <th scope="col">Artikel</th>
                    <th scope="col">Preis</th>
                    <th scope="col">Anzahl</th>
                    <th scope="col">Gesamt</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td>
                            <div class="img-container">
                                @if (item.Item.ImageData != null && item.Item.ImageData.Length > 0)
                                {
                                    <img src="@($"data:image;base64,{Convert.ToBase64String(item.Item.ImageData)}")" alt="@item.Item.Name"/>
                                }
                                else
                                {
                                    <span>Kein Bild verfügbar</span>
                                }
                            </div>
                        </td>
                        <td class="itemName">@item.Item.Name</td>
                        <td class="itemPrice">@item.Item.Price.ToString("N2") €</td>
                        <td class="itemQuantity">@item.Quantity</td>

                        <td class="allPrice">
                            @{
                                var price = @item.Item.Price * item.Quantity;
                            }
                            @Math.Round(Convert.ToDecimal(price), 2).ToString("0.00") €
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot class="table-wrapper tfoot">
                        <tr>
                            <td colspan="4" class="text-right font-weight-bold">Gesamt:</td>
                            <td class="font-weight-bold">
                                @{
                                    var totalPrice = Model.OrderItems.Sum(item => item.Item.Price * item.Quantity);
                                }
                                @Math.Round(Convert.ToDecimal(totalPrice), 2).ToString("0.00") €
                            </td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6 text-left">
        <button href="#" class="btn btn-warning" onclick="openNew()">Zurück</button>

    </div>
    <div class="col-6 text-right">
        <button href="#" class="btn btn-success" onclick="showConfirmOrderModal()">Bestellung aufgeben</button>
    </div>
</div>

@* Confirm order window *@
<div id="confirmOrderModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sind Sie sicher, dass Sie die Bestellung aufgeben möchten?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeConfirmOrder">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Die Bestellung kann nicht mehr rückgängig gemacht werden!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="abortConfirmOrder">Abbrechen</button>
                <button type="button" class="btn btn-success" id="confirm-order" onclick="placeOrder()">Bestätigen</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>


@section scripts{
    <script>
    //#region Delete Item
    function showConfirmOrderModal() {
        $('#confirmOrderModal').modal('show');
    }

    $('#abortConfirmOrder').on('click', function () {
        $('#confirmOrderModal').modal('hide');
    });

    $('#closeConfirmOrder').on('click', function () {
        $('#confirmOrderModal').modal('hide');
    });
    //#endregion
    
        // This function is called when the form is submitted
        function prepareOrderItems() {
            console.log('prepareOrderItems');
            const orderItems = [];
            $('#productTable tbody tr').each(function () {
                const item = {
                    name: $(this).find('.itemName').text(),
                    price: 66,//$(this).find('price').text(),
                    quantity: +$(this).find('.itemQuantity').text() //make it a number
                };
                orderItems.push(item);
            });

            // Add hidden fields for each element of the orderItems list
            for (var i = 0; i < orderItems.length; i++) {
                $('#shoppingBasketForm').append('<input type="hidden" name="orderItems[' + i + '].Name" value="' + orderItems[i].Name + '" />');
                $('#shoppingBasketForm').append('<input type="hidden" name="orderItems[' + i + '].Price" value="' + orderItems[i].Price + '" />');
                $('#shoppingBasketForm').append('<input type="hidden" name="orderItems[' + i + '].Quantity" value="' + orderItems[i].Quantity + '" />');
            }
            return orderItems;
        }
        function    openNew() {
            console.log('---------------------------openNew');
            const orderItems = prepareOrderItems();
            console.log('orderItems', JSON.stringify(orderItems));
            const postData = {
                sessionKey: '@Model.SessionString',
                orderItems: orderItems
            };
            console.log('postData:', JSON.stringify(postData, null, 2));
            $.ajax({
                url: '@Url.Action("ReturnToPlaceOrder", "ShoppingBasket")',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function (result) {
                    window.location.href = '@Url.Action("Place_Order", "PlaceOrder")';
                    console.log('*******************success');
                }
            })
                .then(x => console.log('--------------------------------- Shopping_Basket done'));


        }
        function placeOrder()
        {
            console.log('---------------------------Place order');
            const orderItems = prepareOrderItems();
            console.log('orderItems', JSON.stringify(orderItems));
            const postData = {
                sessionKey: '@Model.SessionString',
                orderItems: orderItems
            };
            console.log('postData:', JSON.stringify(postData, null, 2));
            $.ajax({
                url: '@Url.Action("SaveBasket", "ShoppingBasket")',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function (result) {
                    window.location.href = '@Url.Action("Home_Page", "Home")';
                    console.log('*******************success');
                }
       
            })
                .then(x => console.log('--------------------------------- Shopping_Basket done'));

        }

    
    </script>
}